<div class="row content">
  <div class="col-12 d-flex justify-content-center align-items-center">
    <img src="/assets/oops.png" style="width:300px;" />
    <div>
      <h1>Oops</h1>
      <h3>Page not found !!!</h3>
    </div>
  </div>
</div>
