<span *ngIf="loading"><i class="fa fa-cog spinner"></i> </span>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" href="#">LCPS</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="home"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" routerLink="employees"
          >Employee <span class="sr-only">Employees</span></a
        >
      </li>
    </ul>
    <ul class="navbar-nav" routerLinkActive="active">
      <li class="nav-item">
        <a routerLink="login" class="nav-link">login</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row mt-5"></div>
  <router-outlet></router-outlet>
</div>
