<div class="borders">
  <div *ngIf="employees?.length; else noemployee">
    <div class="row mt-4 header lightgrid">
      <div class="col-4">First Name</div>
      <div class="col-4">Last Name</div>
      <div class="col-4 d-flex justify-content-center">Actions</div>
    </div>
    <app-employee-item
      *ngFor="let employee of employees"
      [employee]="employee"
    ></app-employee-item>
  </div>
  <ng-template #noemployee>
    <div>
      Empty employee list.
    </div>
  </ng-template>
</div>
