<div class="borders">
  <div class="row">
    <div class="col-12" *ngIf="showEmployeeData">
      <div style="max-height: 100px;overflow-y: auto;">
        {{ employees | json }}
      </div>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="raw-view">{{ employees | json }}</div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row d-flex align-items-center">
      <div class="col-3">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="onNewEmployee()"
        >
          <i class="fas fa-user-plus"></i> New Employee
        </button>
      </div>
      <div class="col-9 d-flex justify-content-end align-items-center">
        <div class="d-flex flex-column">
          <div class="d-flex flex-row align-items-center">
            <span>Employee Total: {{ employees?.length }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-end">
    Editing style:
    <label class="radio">
      <input
        type="radio"
        [ngModel]="detailsStyle"
        value="inline"
        (change)="onDetailsStyleChange($event)"
      />
      inline
    </label>
    <label class="radio">
      <input
        type="radio"
        [ngModel]="detailsStyle"
        value="external"
        (change)="onDetailsStyleChange($event)"
      />
      external
    </label>
  </div>
</div>
