<div class="row">
  <div class="col-12">
    <h1>Employee Id: {{ id }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-6">
    First Name:
  </div>
  <div class="col-6">
    {{ employee.FirstName }}
  </div>
</div>
<div class="row">
  <div class="col-6">
    Last Name:
  </div>
  <div class="col-6">
    {{ employee.LastName }}
  </div>
</div>
<div class="row">
  <div class="col-6">
    Email Address:
  </div>
  <div class="col-6">
    {{ employee.EmailAddress }}
  </div>
</div>
<div class="row">
  <div class="col-6">
    Phone number:
  </div>
  <div class="col-6">
    {{ employee.PhoneNumber }}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button class="btn btn-primary mr-2" (click)="onNav()">
      Navigate to Employee Id: 3
    </button>
    <button class="btn btn-primary" (click)="onBack()">Back</button>
  </div>
</div>
